<form data-th-action="@{/clients/{id}/edition(id=${clients.idPersonne})}" data-th-object="${clients}" method="post">

  <label for="nom">Nom du client:</label>
  <input type="text" id="nom" name="nom" th:value="${clients.nom}" required/>
  <br/>

  <label for="prenom">Prenom:</label>
  <input type="text" id="prenom" name="prenom" th:value="${clients.prenom}" required/>
  <br/>

  <label for="Rue">Rue:</label>
  <input type="text" id="Rue" name="Rue" th:value="${clients.rue}" required/>
  <br/>

  <label for="cp">Code postal:</label>
  <input type="text" id="cp" name="cp" th:value="${clients.cp}" required/>
  <br/>

  <label for="Ville">Ville:</label>
  <input type="text" id="Ville" name="Ville" th:value="${clients.ville}" required/>
  <br/>

  <label for="tel">Telephone:</label>
  <input type="text" id="tel" name="tel" th:value="${clients.tel}" required/>
  <br/>

  <label for="mail">Email:</label>
  <input type="text" id="mail" name="mail" th:value="${clients.mail}" required/>
  <br/>

  <br/>

  <button type="submit">Envoyer</button>
</form>