<form data-th-action="@{/produits/{id}/edition(id=${produits.idProduit})}" data-th-object="${produits}" method="post">
    <input type="hidden" name="idProduit" th:value="${produits.idProduit}"/> <!-- Include a hidden field for product ID -->
    <label for="nomProduit">Nom du produit :</label>
    <input type="text" id="nomProduit" name="nomProduit" th:value="${produits.nomProduit}" required/>
    <br/>
    <label for="prix">Prix:</label>
    <input disabled type="number" id="prix" name="prix" th:value="${produits.prix}"/>
    <br/>

    <label for="description">Description:</label>
    <input size="100" id="description" name="description" th:value="${produits.description}" required/>
    <br/>

    <button type="submit">Envoyer</button>
</form>