<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/logoAcme.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Détail produit</title>

    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
                <h1>Détail du Produit</h1>
                <ul class="flex-outer">
                    <li>
                        <span><h4>Produit :</h4><p data-th-text="${produit.nomProduit}"></p></span>
                    </li>
                    <li>
                        <span><h4>Description :</h4><p data-th-text="${produit.description}"></p></span>
                    </li>
                    <li>
                        <span><h4>Date de création :</h4><p data-th-text="${#dates.format(produit.dateCreationProduit, 'dd/MM/yyyy')}"></p></span>
                    </li>
                    <li>
                        <span><h4>Prix :</h4><p data-th-text="${produit.prix}"></p></span>
                    </li>
                    <h4>Nombre de ventes : </h4><span th:text="${param.quantite}"></span>
                    </li>
                </ul>
            <a data-th-href="@{/produits/{id}/edition(id=${produit.idProduit})}"><button th:if="${#authorization.expression('hasAnyRole(''RES-CAT'')')}" type="button">Modifier</button></a>
            <a data-th-href="@{/produits/{id}/edition-prix(id=${produit.idProduit})}"><button th:if="${#authorization.expression('hasAnyRole(''RES-CAT'')')}" type="button">Changement de prix</button></a>
            <a data-th-href="@{/produits/{id}/suppression(id=${produit.idProduit})}"><button th:if="${#authorization.expression('hasAnyRole(''RES-CAT'')')}" type="button">Supprimer</button></a>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>
