<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/epsi.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Démo : Liste des fournisseurs</title>
    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
            <h1>Modification du produit</h1>
            <div  th:replace="~{fragments/form-produit}"></div>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>