<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/epsi.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Détails des clients</title>
<!--        <script>-->
<!--            function toggleForm() {-->
<!--                var form = document.getElementById("myForm");-->
<!--                if (form.style.display === "none") {-->
<!--                    form.style.display = "block";-->
<!--                } else {-->
<!--                    form.style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        </script>-->
    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
            <h1>Détails du client</h1>
            <h2 data-th-text="${clients.nom}"></h2>
            <p data-th-text="${clients.prenom}"></p>
            <p data-th-text="${clients.rue}"></p>
            <p data-th-text="${clients.cp}"></p>
            <p data-th-text="${clients.ville}"></p>
            <p data-th-text="${clients.tel}"></p>
            <p data-th-text="${clients.mail}"></p>
            <a data-th-href="@{/clients/{id}/edition(id=${clients.idPersonne})}"><button type="button">Modifier</button></a>
            <a data-th-href="@{/clients/{id}/suppression(id=${clients.idPersonne})}"><button type="button">Supprimer</button></a>

            <!--            <button onclick="toggleForm()">Modifier client</button>-->
<!--            <div id="myForm" style="display: none;">-->
<!--                <div  th:replace="~{fragments/form-client}"></div>-->
<!--            </div>-->
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>
