<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" data-th-href="@{/img/epsi.png}" sizes="32x32"/>
    <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/demo-table.css}"/>

    <title>Liste des clients</title>
  </head>
  <body>
    <header>
      <nav th:replace="~{fragments/navbar}"></nav>
    </header>
    <main>
      <h1>La liste des clients</h1>
      <section>
        <a th:if="${#authorization.expression('hasAnyRole(''COMMERCIAL'',''DIR-COM'')')}" class="action" href="clients/creer">Ajouter un client</a>
        <table>
          <thead>
            <tr>
                <th>Clients</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr data-th-each="item : ${clients}">
              <td><a data-th-href="@{/clients/{id}/detail(id=${item.idPersonne})}" th:text='${item.nom +" "+item.prenom}'></a></td>
              <td data-th-text="${item.cp}"></td>
              <td data-th-text="${item.tel}"></td>
              <td data-th-text="${item.mail}"></td>
            </tr>
          </tbody>
        </table>

      </section>
    </main>

    <footer>
      <p>&copy; EPSI POEC - Tous droits réservés</p>
    </footer>
  </body>
</html>