<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/epsi.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-table.css}"/>

        <title>Liste des produits</title>
    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
            <h1>La liste des produits</h1>
            <section>
                <a class="action" href="produits/creer">Ajouter un produits</a>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Nombre de vente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="item : ${produits}">
                            <td><a data-th-href="@{/produits/{id}/detail(id=${item[0].idProduit}, quantite=${item[1]})}" th:text="${item[0].nomProduit}"></a></td>
                            <td data-th-text="${item[0].prix}"></td>
                            <td data-th-text="${item[1]}"></td><!-- Affiche la quantite pour chaque produit -->
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>

        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>