<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/logoAcme.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Liste des clients</title>
        <script>
            function toggleForm() {
                var form = document.getElementById("myForm");
                if (form.style.display === "none") {
                    form.style.display = "block";
                } else {
                    form.style.display = "none";
                }
            }
        </script>
    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
            <h1>Modifier client</h1>
            <div  th:replace="~{fragments/form-client}"></div>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>
