<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/epsi.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>

        <title>Démo : Liste des fournisseurs</title>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar}"></nav>
        <main>
            <h1>Modification du produit</h1>
            <form data-th-action="@{/produits/{id}/edition(id=${produits.idProduit})}" data-th-object="${produits}" method="post">
                <input type="hidden" name="idProduit" th:value="${produits.idProduit}"/> <!-- Include a hidden field for product ID -->
                <label for="nomProduit">Nom du produit:</label>
                <input type="text" id="nomProduit" name="nomProduit" th:value="${produits.nomProduit}" required/>
                <br/>
                <label for="prix">Prix:</label>
                <input type="number" id="prix" name="prix" th:value="${produits.prix}" required/>
                <br/>

                <label for="description">Description:</label>
                <input size="100" id="description" name="description" th:value="${produits.description}" required/>
                <br/>

                <label for="dateCreationProduit">Date de création:</label>
                <input type="datetime-local" id="dateCreationProduit" name="dateCreationProduit" th:value="${produits.dateCreationProduit}" required/>
                <br/>

                <button type="submit">Modifier Produit</button>
            </form>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>
