<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" data-th-href="@{/img/logoAcme.png}" sizes="32x32"/>
        <link rel="stylesheet" data-th-href="@{/css/layout.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/general.css}"/>
        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}"/>
        <title>Démo : Liste des fournisseurs</title>
    </head>
    <body>
        <header>
            <nav th:replace="~{fragments/navbar}"></nav>
        </header>
        <main>
            <h1>Modification du produit</h1>
            <form data-th-action="@{/produits/edition-prix}" data-th-object="${produits}" method="post">
                <div  th:replace="~{fragments/form-produit}"></div>
                <label for="prix">Nouveau prix :</label>
                <input type="text" id="prix" name="prix" th:value="${produits.prix}" required/>
                <button type="submit">Envoyer</button>
            </form>
            <a data-th-href="@{/produits/{id}/detail(id=${produits.idProduit})}">Révenir au détail</a>
        </main>
        <footer>
            <p>&copy; EPSI POEC - Tous droits réservés</p>
        </footer>
    </body>
</html>